body {
  padding: 16px;
}

a {
  cursor: pointer;
}

.album {
  .photo {
    .description {
      white-space: nowrap;
      overflow: hidden;
      // text-overflow: ellipsis;
    }
  }
}

.bottom.menu {
  padding: 15px;
}
