{
  "extends": "airbnb-base",
  "plugins": ["react"],
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true,
      "jsx": true
    }
  },
  "rules": {
    "strict": [2, "global"],
    "no-param-reassign": [2, {"props": false}],
    "object-curly-spacing": [0],
    "no-unused-vars": [0]
  }
}
